<% @posts.each do |post| %>
<% if post.featured_3 == true %>
        <div class="col-sm-6 col-md-3" style="background:#D5AD56; height:285px; padding:10px;">
            <center>
            <span class="label label-warning" style="padding:5px; text-transform:uppercase; letter-spacing: 2px;">
              <%= post.sub_category.name %>
            </span>
            <div class="caption">
              <h4><%= link_to post.title, post_path(post), :style => 'text-transform:none;' %></h4>
              <p><%= post.post_snippet.truncate(50) %></p>
            </div>
            </center>
          </div>
        </div>
        <% end %>
        <% end %>