<% @posts.each do |post| %>
<% if post.featured_4 == true %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail padding-0 border-radius-0" style="height:285px;">
            <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin-top:10px; margin-left:10px; text-transform:uppercase; letter-spacing: 2px;">
              <%= post.sub_category.name %>
            </span>
            <%= image_tag post.featured_image.url(:medium), :class => "img-responsive" %>
            <div class="caption">
              <h5><%= link_to post.title, post_path(post), :style => 'text-transform:none;' %></h5>
              <p>by <i><%= post.user.name %></i></p>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>