<% @posts.each do |post| %>
<% if post.featured_2 == true %>
<div class="col-sm-12 col-md-6" style="height:285px; padding:0 15px 0 0;">
  <div class="col-sm-6 col-md-6 padding-0">
    <span class="label label-danger" style="position:absolute; z-index:100; padding:5px; margin-top:10px; margin-left:10px; text-transform:uppercase; letter-spacing: 2px;"><%= post.sub_category.name %>
    </span>
    <%= image_tag post.featured_image.url(:square), :class => "img-responsive" %>
  </div>
  <div class="col-sm-6 col-md-6" style="border:1px solid #ddd;">
    <div class="caption">
      <h4><%= link_to post.title, post_path(post), :style => 'text-transform:none;' %></h4>
      <p>by <i><%= post.user.name %></i></p>
    </div>
  </div>
</div>
<% end %>
<% end %>