<% @posts.each do |post| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag post.featured_image.url(:square), :class => "img-responsive" %>
            <div class="caption">
              <h5><%= post.title %></h5>
              <p><%= link_to 'Read More', post_path(post), :class => "btn btn-default" %></p>
            </div>
          </div>
        </div>
        <% end %>