@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@import 'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900';
@import "https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900";

body {
    background:#fff;
    font-family: 'Muli', sans-serif;
    font-weight:400;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing:0em;
    text-transform: uppercase;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    color: #d5ad56;
    font-weight:700;
}

h2 {
    font-size:2em;
    line-height: 1.3em;
}

h3 {
    font-size:1.8em;
}

h4 {
    font-size:1.5em;
}

h5 {
    font-size:1.0em;
    line-height: 1.3em;
}

h6 {
    font-size:0.8em;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.italic-font {
    font-style: italic;
}

a {
    color:#003f2f;
}

a:hover, a:focus {
    color:#028667;
    text-decoration: none;
}

label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}

.label-success {
    background-color: #003F2E;
}

.label-danger {
    background-color: #FF3313;
}

.label-warning {
    background-color: #D5AD56;
}

.btn-success {
    background-color: #003F2E;
}

.btn-danger {
    background-color: #FF3313;
}

.btn-warning {
    background-color: #D5AD56;
}

.lead {
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
}

.btn-default {
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing:2px;
}

.navbar-brand {
}

// And the brand colour
  .navbar-default .navbar-brand {
    color: #D5AD56;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:500;
    font-size:2em;
}

.navbar-default.navbar {
    color: rgba(255, 255, 255, 0.84);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 0px;
    border-radius: 0;
}

.padding-0 {
    padding:0;
}

.post-caption {
    background:#eee;
    padding:5px 10px;
}

.byline {
    color: #22211d;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Muli', sans-serif;
}

.carousel-h1-caption {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    letter-spacing: 1px;
    font-size: 2.7em;
}

.border-radius-0 {
    border-radius: 0;
}

.padding-15 {
    padding-left:15px;
    padding-right:15px;
}

.unathorised-full-height {
    background: #003F2E;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}