<div class="container-fluid unathorised-full-height">
    <center><img src="http://friends.jumaiyah.com/wp-content/uploads/2017/01/Unauthorised-page.png" class="img-responsive" alt="unauthorised" style="width:720px; height:540px;"></center>
</div>